<div class="modal-header">
  <button type="button" class="close" data-toggle = 'modal' data-target = '#unsaved-confirm-box' aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">Payment Information</h4>
</div>
<div class="modal-body row form-group form-content">
  <form name = 'formOne'>
  <div class = 'row col-md-12'>
    <!-- Payment Type Dropdown input-->
    <div class='col-md-6 form-row'>
      <span>Payment Type<span class = "sup">*</span><span>
      <select class="form-control" name = 'payType' ng-model = "info.paymentType" required = 'required'>
        <option ng-repeat = "payType in data[1]">{{payType.path}}</option>

      </select>
      <span ng-show = 'formOne.payType.$error.required' class = 'error'>Please fill out this field.</span>
    </div>
    <!-- Accounting Type Dropdown input-->
    <div class='col-md-6 form-row'>
      <span>Accounting Type<span class = "sup">*</span><span>
      <select ng-model = "info.accountingType" name = 'acType' class="form-control" required = 'required'>
        <option ng-repeat = "acType in data[2].result">{{acType.value}}</option>
      </select>
      <span ng-show = 'formOne.acType.$error.required' class = 'error'>Please fill out this field.</span>
    </div>
  </div>
  <div class = 'row col-md-12'>
    <!-- Frequency Dropdown input-->
    <div class='col-md-4 form-row'>
      <span>Frequency<span class = "sup">*</span><span>
      <select ng-model = "info.frequencyType" name = 'fqType' class="form-control" required = 'required'>
        <option ng-repeat = "fqType in data[0]">{{fqType.path}}</option>
      </select>
      <span ng-show = 'formOne.fqType.$error.required' class = 'error'>Please fill out this field.</span>
    </div>
    <!-- Period Start Date input-->
    <div class='col-md-4 form-row'>
      <span>Period Start Date<span class = "sup">*</span><span>
      <div class='input-group' id='datetimepicker1'>
          <input type='date' name = 'payStart' class="form-control" ng-model = "info.paymentStart" required = 'required'>
          <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
          </span>
      </div>
      <span ng-show = 'formOne.payStart.$error.required' class = 'error'>Please fill out this field.</span>
    </div>
    <!-- Payment Timing input-->
    <div class='col-md-4 form-row'>
      <span>Payment Timing<span class = "sup">*</span><span>
      <select ng-model = "info.paymentTiming" name = 'payTime' class="form-control" required = 'required'>
        <option ng-repeat = "payTime in data[7].result">{{payTime.value}}</option>
      </select>
      <span ng-show = 'formOne.payTime.$error.required' class = 'error'>Please fill out this field.</span>
    </div>

  </div>
  <div class = 'row col-md-12'>
    <!-- Payment Due On input-->
    <div ng-if = '(info.frequencyType != "Other")|(info.frequencyType !="Monthly")' class='col-md-4 form-row'>
      <span>Payment Due On<span class = "sup">*</span><span>
      <select ng-model = "info.paymentDueOn" name = 'payDueOn' class="form-control" required = 'required'>
        <option ng-repeat = "payDueOn in data[6].result">{{payDueOn.value}}</option>
      </select>
      <span ng-show = 'formOne.payDueOn.$error.required' class = 'error'>Please fill out this field.</span>
    </div>
    <!-- Payment Due Day input-->
    <div ng-if = 'info.frequencyType != "Other"' class='col-md-4 form-row'>
      <span>Payment Due Day<span class = "sup">*</span><span>
      <select ng-model = "info.paymentDueDay" name = 'payDueDay' class="form-control" required = 'required'>
        <option ng-repeat = "payDueDay in data[5].result">{{payDueDay.value}}</option>
      </select>
      <span ng-show = 'formOne.payDueDay.$error.required' class = 'error'>Please fill out this field.</span>
    </div>
    <!-- Accounting Cost Center input-->
    <div class='col-md-4 form-row'>
      <span>Accounting Cost Center<span>
      <input type = 'text' ng-model = "info.accountCost" class="form-control">
    </div>
    <!-- Option Term Payment check box input-->
    <div class='col-md-4' style= 'margin-top:20px'>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" ng-model ="info.termPay" class="form-check-input">
          Option Term Payment
        </label>
      </div>
    </div>
  </div>
  <!-- Description TextArea-->
  <div class='col-md-12'>
    <span>Description<span>
    <textarea ng-model='info.desc' class="form-control" rows="3"></textarea>
  </div>
  </form>
</div>
