<div class = "row">
  <div  id = 'getMap'>
    <ng-map zoom="19" center="[17.461994, 78.343163]"></ng-map>
  </div>
  <div class = "col-md-12 col-xs-5 info-bar" >
    <div class = "col-md-5 col-xs-12" style='border-right:1px solid rgba(162,162,162,1)'>
      <div class = "col-md-3 col-xs-12">
      </div>
      <div style = "color:rgba(162,162,162,1);" class = "col-md-5 col-xs-6">
        <span>Ranch</span><br>
        <span>Acre</span><br>
        <span>Fields</span><br>
        <span>Next Harvest Date</span>
      </div>
      <div class = "col-md-4 col-xs-6">
        <span>Organic 13</span><br>
        <span>25</span><br>
        <span>4</span><br>
        <span>23/06/06</span><br>
      </div>
    </div>
    <div class = "col-md-3 col-xs-12 text-md-center" style='border-right:1px solid rgba(162,162,162,1)'>
      <span>Production</span><br>
      <span class = 'info-subtitle'>ACTUAL/TARGETED</span><br>
      <span class = 'info-report'>52/60</span><br>
      <img src = 'Assest/Images/grains-active.png'>
      <img src = 'Assest/Images/grains-active.png'>
      <img src = 'Assest/Images/grains-active.png'>
      <img src = 'Assest/Images/grains-inactive.png'>
      <img src = 'Assest/Images/grains-inactive.png'>
    </div>
    <div class = "col-md-4 col-xs-12 text-md-center">
      <span>Current Water/Soil moisture</span><br>

      <span class = 'info-report'>56%</span><br>
      <span style= "color:rgba(76,147,229,1)">
        <i class="fa fa-tint" aria-hidden="true"></i>
      </span>
      <span style= "color:rgba(76,147,229,1)">
        <i class="fa fa-tint" aria-hidden="true"></i>
      </span>
      <span style= "color:rgba(76,147,229,1)">
        <i class="fa fa-tint" aria-hidden="true"></i>
      </span>
      <span style= "color:rgba(76,147,229,1)">
        <i class="fa fa-tint" aria-hidden="true"></i>
      </span>
      <span style= "color:rgba(153,153,153,1)">
        <i class="fa fa-tint" aria-hidden="true"></i>
      </span>
      <span style= "color:rgba(153,153,153,1)">
        <i class="fa fa-tint" aria-hidden="true"></i>
      </span>
      <span style= "color:rgba(153,153,153,1)">
        <i class="fa fa-tint" aria-hidden="true"></i>
      </span>
    </div>

  </div>


</div>
